name: Build

on:
  workflow_call:
    inputs:
      ref:
        type: string
        default: ${{ github.ref }}
        description: 'The branch ref to build. Leave empty to use workflow branch.'
      publishToArtifactory:
        type: boolean
        default: false
        description: 'Publish the built artifacts to our Artifactory repository'
      publishToCentral:
        type: boolean
        default: false
        description: 'Publish the built artifacts to Maven Central (ignored for Weekly builds)'
    secrets:
      KSM_CONFIG:
        required: true
      BONITA_CI_PAT:
        required: true
      
jobs:
  build:
    # Allow dependabot to publish tests results
    permissions:
      checks: write
      pull-requests: write
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          repository: bonitasoft/bonita-project
          token: ${{ secrets.BONITA_CI_PAT }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - uses: bonitasoft/maven-settings-action@v1
        with:
          keeper-secret-config: ${{ secrets.KSM_CONFIG }}
      - name: Build
        run: ./mvnw --no-transfer-progress -B verify -Ptests

      - name: Publish Test Report
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            tests/**/target/*-reports/TEST-*.xml

      - name: Upload IT logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: it-logs
          path: tests/target/it/**/*.log
          retention-days: 5

      - name: Get Version
        id: version
        if: ${{ inputs.publishToArtifactory || inputs.publishToCentral }}
        run: echo "version=$(./mvnw --no-transfer-progress help:evaluate -Dexpression=project.version -q -DforceStdout --non-recursive)" >> "$GITHUB_OUTPUT"
   
      - name: Publish ${{ steps.version.outputs.version }} to Artifactory
        if: ${{ inputs.publishToArtifactory }}
        env:
          ALT_DEPLOYMENT_REPOSITORY: ${{ endsWith(steps.version.outputs.version,'-SNAPSHOT') && format('snapshots::{0}', vars.SNAPSHOTS_REPOSITORY_URL) || format('staging::{0}', vars.STAGING_REPOSITORY_URL) }}
        run: ./mvnw --no-transfer-progress -B deploy -Prelease -DaltDeploymentRepository=${{env.ALT_DEPLOYMENT_REPOSITORY}}

      - name: Publish ${{ steps.version.outputs.version }} to Central
        # Never publish a Weekly build to Maven Central
        if: ${{ inputs.publishToCentral && !contains(steps.version.outputs.version,'W')}}
        run: ./mvnw --no-transfer-progress -B deploy -Prelease,ossrh